# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# Functions
functions/node_modules/
functions/.env
functions/lib/
functions/.runtimeconfig.json

# Local env
.env
.env.local
.env.*.local

# Build
.next/
.next-stale-*/
out/
build/
dist/

# Dependencies
node_modules/

# Misc
.DS_Store
*.tsbuildinfo
npm-debug.log*
.vscode/
.idea/
